<section class="section section--header">
	<div class="container">

	<div class="brand brand--header">
		<a href="{{ site.baseurl }}/">
			<span class="sr-only">Free Help Friday</span>
		</a>
	</div>

	<div class="jumbotron">
		  <h1 class="lead">At <a href="http://happytohelp.io">happytohelp.io</a> we are offering free help for  anything you need in a 30 minute online consulting session.</h1>
		  <p class="lead">
		    <a class="btn btn-default btn-lg" href="#join" role="button">Join Us</a>
		    <a class="btn btn-primary btn-lg" href="#help" role="button">Get Help</a>
		  </p>
		</div>

	</div><!-- /.container -->
</section>