<section class="section section--header">
	<div class="container">

	<div class="brand brand--header">
		<a href="{{ site.baseurl }}/">
			<span class="sr-only">Free Help Friday</span>
		</a>
	</div>

	<div class="jumbotron">
		  <h1 class="lead">On #freehelpfriday we are offering free help for friends and people in our network for anything they need in a 30 minute session.</h1>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="#how" role="button">We'd love you to join us</a>
		  </p>
		</div>

	</div><!-- /.container -->
</section>