<div class="col-md-8 offset-md-2">
	

	<div class="step step--1">
		
		<div class="step__counter">
			<span>1.</span>
		</div>

		<h3>Set up Calendly</h3>		
		<p>We are using the service "Calendly" to manage bookings. Please sign up and make one or more 30 minute meetings available on any day you'd like.</p>
		<p>Need help? Here is a <a href="https://youtu.be/yghH8-WPxNw" target="_blank">step by step guide</a>.</p>

		<a class="btn btn-default" href="https://calendly.com" target="_blank" role="button">Set up Calendly <i class="fa fa-external-link" aria-hidden="true"></i></a>

	</div>

</div>