<div class="col-md-8 offset-md-2">
	
	<div class="step step--1">
		
		<div class="step__counter">
			<span>5.</span>
		</div>

		<h3>After the session</h3>		

		<p>We'll be happy if you <a href="https://www.facebook.com/groups/happytohelp.io/" target="_blank">join our facebook group</a> to share your experience with us and let your friends know about our service.</p>
		<p>You can also <a href="{{ site.baseurl }}/join/">join us</a> in giving free help to friends and people in our network. It's a fun thing to do.</p>

	</div>

</div>