<div class="col-md-8 offset-md-2">
	

	<div class="step step--1">
		
		<div class="step__counter">
			<span>3.</span>
		</div>

		<h3>Offer help to your friends</h3>		
		<p>Now it's time to reach out and offer your free help to your friends and spread the word in your network. <a href="https://www.facebook.com/photo.php?fbid=10211642462754161&set=a.1184051958500.2029246.1144286620&type=3&theater">Here is a text</a> you can use for your post.</p>

		<a class="btn btn-default" href="https://facebook.com" role="button">Offer help on facebook <i class="fa fa-facebook" aria-hidden="true"></i></a>

	</div>

</div>