<div class="col-md-8 offset-md-2">
	
	<div class="step step--1">
		
		<div class="step__counter">
			<span>4.</span>
		</div>

		<h3>Join our Facebook group</h3>		
		<p>Join our group to offer your help to the community and to get to know new people you can reach out to for help. Once you've joined, you'll be introduced by an admin and people can start booking sessions with you.</p>

		<a class="btn btn-default" href="https://www.facebook.com/groups/1256818977730977/" target="_blank" role="button">Join the group <i class="fa fa-external-link" aria-hidden="true"></i></a>

	</div>

</div>