<div class="col-md-8 offset-md-2">
	

	<div class="step step--1">
		
		<div class="step__counter">
			<span>2.</span>
		</div>

		<h3>Tell us more about you</h3>		
		<p>We'd like to get to know you and learn more about what kind of help you can and want to offer to people and what topics you want to learn more about so people can challenge you with new tasks.</p>

		<a class="btn btn-default" href="https://goo.gl/6WSo3q" target="_blank" role="button">Fill the Form <i class="fa fa-external-link" aria-hidden="true"></i></a>

	</div>

</div>