<section class="section section--why">
	<div class="container">
	<div class="row">

	<div class="col-md-8 offset-md-2">
	
		<h2>Why you should join</h2>

		<p>Offering free help to friends and new people is a very powerful thing to do and has many benefits.</p>
		<p><strong>These are some of the highlights we've experienced so far:</strong></p>

		<ul class="list-unstyled">
			<li><span>🙏</span>You will receive lots of gratitude</li>
			<li><span>🎁</span>You will learn to be more generous</li>
			<li><span>🤓</span>You will learn new stuff</li>
			<li><span>🙌</span>You will better connect with your friends</li>
			<li><span>💪</span>You will strengthen and build your network</li>
			<li><span>💁</span>You will learn to reach out to people when you need help</li>
			<li><span>💬️</span>You can try out and practice your consulting skills</li>
			<li><span>👨‍💻👩‍🔬👨‍🎨</span>You get access to a network of skilled people, willing to help you with anything</li>
		</ul>

		<p>Would you like to give it a try?</p>
		<a class="btn btn-primary btn-lg" href="https://goo.gl/6WSo3q" target="_blank" role="button">Sign up <i class="fa fa-external-link" aria-hidden="true"></i></a>

	</div>

	</div>
	</div><!-- /.container -->
</section>