<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Free Help Friday</title>
    <meta name="description" content="">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <meta property="og:url"           content="http://freehelpfriday.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Free Help Friday" />
    <meta property="og:description"   content="On #freehelpfriday we are offering free help for friends and people in our network for anything they need in a 30 minute session." />
    <meta property="og:image"         content="http://freehelpfriday.com//assets/images/logo.png /">


    <script src="https://use.typekit.net/sab1tve.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	
</head>