<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Happy to Help</title>
    <meta name="description" content="">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <meta property="og:url"           content="http://happytohelp.io" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Happy to Help" />
    <meta property="og:image"         content="http://happytohelp.io/assets/images/facebook.jpg">
    <meta property="og:description"   content="At happytohelp.io we are offering free help for friends and people in our network for anything they need in a 30 minute session." />


    <script src="https://use.typekit.net/sab1tve.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel="icon" href="/assets/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="/assets/images/favicon.ico"><![endif]-->
    <meta name="msapplication-TileColor" content="#FFF">
    <meta name="msapplication-TileImage" content="/assets/images/tileicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-152x152-precomposed.png">
	
</head>