.section {

	padding: 2rem 0;
	text-align: center;

	&--footer {
		background-color: #fcfcfc;
	}


	&--footer {
		padding-top: 4rem;
	}

	&--header {
		background: url(/assets/images/header.png) no-repeat center bottom; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	&--how {
	}

	&--profile {

	}

	&--about {
		p {
			font-size: $font-size--xlarge;
		}
	}

	&--why {

		li {
			color: $brand-primary;
			position: relative;
			font-weight: $font-weight--bold;
			padding: .5rem 0 1rem;
			margin: .5rem 0;

			span {
				display: block;
				font-size: $font-size--xlarge;
			}
			
		}

		li::after {
			content: " ";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: block;
			width: 100px;
			border-bottom: 3px solid $gray-lightest;
		}
	}
}