$body-bg: #fff;
$body-color: #59504C;

@import "bootstrap/variables";

$path-images: "/assets/images/";

// ======== COLORS ==========

$gray-dark:                 darken($gray, 10%);
$gray:                      #59504C;
$gray-light:                lighten($gray, 20%);
$gray-lighter:              lighten($gray, 30%);
$gray-lightest:             lighten($gray, 50%);


// ======== TYPOGRAPHY ==========

// Fonts

$font-family--proxima: 			"proxima-nova", sans-serif;
$font-family--proxima-soft:	 	"proxima-nova-soft", sans-serif;
$font-family--script: 			"verveine", sans-serif;

$font-family-sans-serif: $font-family--proxima;
$font-family-base:       $font-family--proxima;


// Font Weight

$font-weight--bold: 	800;
$font-weight--regular: 	400;

// Font Sizes

$font-size--xsmall: 	.8rem;
$font-size--small: 		1rem;
$font-size--regular: 	1.2rem;
$font-size--large: 		1.4rem;
$font-size--large--md: 	1.6rem;
$font-size--xlarge: 	1.8rem;
$font-size--xxlarge: 	2.2rem;


// ========= Media Queries =========

// Screen Sizes

$screen-xs:   0;
$screen-sm:   34em;
$screen-md:   48em;
$screen-lg:   62em;
$screen-xl:   75em;


// ======== BOOTSTRAP ==========

$font-size-root: 21px;

// Basic Settings 

$enable-flex:           true;
$enable-rounded:        false;

// Bootstrap color overwrites

$brand-primary:         #FF5200;

// Jumbotron

$jumbotron-padding:     0;
$jumbotron-bg:          transparent;

// Radius

$border-radius:          2rem;
$border-radius-lg:       3rem;
$border-radius-sm:       1rem;


// Buttons

$btn-primary-color:		#fff;
$btn-primary-bg:        $brand-primary;
$btn-primary-border:    $brand-primary;

$btn-border-radius:     $border-radius;

// Links

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-decoration: none;