---
layout: default
---

 <section class="section section--header">
	<div class="container">

	<div class="nav-back"><a href="{{ site.baseurl }}/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a></div>

	<a href="{{ site.baseurl }}/">
		<div class="brand brand--header">
				<span class="sr-only">Happytohelp.io</span>
		</div>
	</a>

	<div class="jumbotron">
		<div class="avatar avatar--profile-page"><img src="/assets/images/profiles/{{ page.avatar }}.jpg" class="rounded-circle"></div>
	</div>

	</div><!-- /.container -->
</section>

<section class="section section--profile" id="profile">
	<div class="container">
	<div class="row">

		<div class="col-md-8 offset-md-2">
			<div class="profile profile--page">
				<h1 class="profile__name">{{ page.name }}</h1>
				<div class="profile__profession">{{ page.profession }}</div>
				<p class="profile__position">{{ page.position }}</p>

				<p>I am offering free 30 min skype calls to help you with anything you need. <br>Just pick a slot in my calendar.</p>

				<a class="btn btn-primary" href="{{ page.calendly }}" target="_blank" role="button">Book a session <i class="fa fa-external-link" aria-hidden="true"></i></a>

				<h3>Why I am doing this:</h3>
				<p class="profile__why">{{ page.why }}</p>

				<h3>I can help you with:</h3>
				<ul class="profile__topics">
				  {% for topic in page.topics %}<li><span data-container="body" data-toggle="popover" data-placement="top" data-content="{{ topic[1] }}">{{ topic[0] }}</span></li>{% endfor %}
				</ul>

				{% if page.bio %}
				<h3>About {{ page.name }}:</h3>
				<p class="profile__bio">{{ page.bio }}</p>
				{% endif %}

				<h3>Here are some examples how I have helped people before:</h3>
				<ul class="profile__reference">
				  {% for topic in page.reference %}<li>{{ topic[0] }}</li>{% endfor %}
				</ul>				


				<p>Talk to you soon!</p>

				<a class="btn btn-primary" href="{{ page.calendly }}" target="_blank" role="button">Book a session <i class="fa fa-external-link" aria-hidden="true"></i></a>
			</div>
		</div>

	</div>
	</div><!-- /.container -->
</section>