<div class="col-md-6">
	<div class="profile profile--teaser">
		<div class="row">
			<div class="col-md-4">
				<div class="avatar"><img src="{{ site.baseurl }}/assets/images/profiles/{{ profile.avatar }}.jpg"></div>
			</div>
			<div class="col-md-8">
				<a href="{{ profile.url }}">
					<div class="profile__name">{{ profile.name }}</div>
				</a>
				<div class="profile__profession">{{ profile.profession }}</div>
				<ul class="profile__topics">
				  {% for topic in profile.topics %}<li>{{ topic[0] }}</span></li>{% endfor %}
				</ul>

				<a href="{{ profile.url }}" role="button">Learn more …</a>
			</div>
		</div>
	</div>
</div>